---
- name: Create GVM User
  become: yes
  become_user: postgres
  postgresql_user: 
    name: "gvm"
    role_attr_flags: NOSUPERUSER,NOCREATEDB,NOCREATEROLE
    state: present

- name: Create GVM Database
  become: yes
  become_user: postgres
  block:
  - postgresql_db:
      name: "gvmd"
      owner: "gvm"
  - postgresql_user:
      db: "gvmd"
      name: dba
      role_attr_flags: "SUPERUSER,NOINHERIT,NOCREATEDB,NOCREATEROLE,NOREPLICATION"
      state: present
  - postgresql_privs:
      db: "gvmd"
      type: group
      objs: "gvm"
      roles: "dba"
      state: present
  - postgresql_ext:
      db: "gvmd"
      name: "{{ item }}"
      state: present
    with_items:
      - "uuid-ossp"
      - "pgcrypto"

- name: "サービス再起動"
  systemd:
    name: "postgresql.service"
    state: "restarted"
    enabled: yes